body {
    background-color: #343131;
}

h1 {
    text-align: center;
    color: #A04747;
    font-family: Sans-serif;
    border-style: solid;
    border-radius: 5px;
}

h2 {
    text-align: center;
    color: #343131;
    font-family: sans-serif;
}

p1 {
    color: #343131;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.flex-box {
    width: 500px;
    height: 200px;
    border: 2px solid #A04747;
    background-color: #D8A25E;
    padding: 15px;
    color: white;
}
